<html>
  <head>
    <title>Bookmark Manager</title>
  </head>
  <body>
    Bookmarks
    <% @bookmarks.each do |bookmark| %>
      <a href="<%= bookmark.url %>"><%= bookmark.title %></a>
    <% end %>
  </body>
</html>