<html>
  <head>
    <title>Bookmark Manager</title>
  </head>
  <body>
    <h1>Bookmarks</h1>
    <% @bookmarks.each do |bookmark| %>
      <a href="<%= bookmark.url %>"><%= bookmark.title %></a><br>
    <% end %>
    <a href="/add">Add</a>
  </body>
</html>